<header>
    {%load staticfiles %}
 <div class="header-bg">
  <img src="{% static 'image/009.jpg' %}" style="width:100%;  height:150px " class="img-rounded" />
  <div class="container-fluid">
     <div class="row">

         <a class="btn btn-danger text-center col-md-3 text-lowercase" style="border-radius:0 0 15px 0; color:#FFDEAD; height:40px;" href="https://www.instagram.com/aghica/?hl=ru" role="button"><h4>my @inst</h4></a>
         <a class="btn btn-danger text-center col-md-3 text-lowercase" style="border-radius:0 0 15px 15px; color:#FFDEAD; height:40px;" href="https://www.instagram.com/aghica/?hl=ru" role="button"><h4>авторы</h4></a>
         <a class="btn btn-danger text-center col-md-3 text-lowercase" style="border-radius:0 0 15px 15px; color:#FFDEAD; height:40px;" href="https://www.instagram.com/aghica/?hl=ru" role="button"><h4>про нас</h4></a>
         <a class="btn btn-danger text-center col-md-3 text-lowercase" style="border-radius:0 0 0 15px; color:#FFDEAD; height:40px;" href="https://www.instagram.com/aghica/?hl=ru" role="button"><h4>реклама</h4></a>
     </div>
  </div>
 </div>
</header>