{% extends "wrapper.html" %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container-fluid static_txt">
        <div class="row">
                <div
                     class="col-md-4">
                    <small>неплохо...</small>
                </div>
                <div
                    class="col-md-3 offset-5">
                    максимальный результат: 9 балов
              </div>
              <div
                    class="col-md-4 offset-3">
                  <h4><ins><strong>{{ name }}</strong></ins> : {{ all }} {{ points }}</h4>
              </div>
        </div>
    </div>
</form>
<div class="container">
        <div class="row">
            <div class="col-md-10 offset-2">
                <p><em></em></p>
            </div>
        </div>
<div/>
<div class="container">
    <table class="table" style="margin-top:80px;">
         <thead>
         <tr>
         <th>Место</th>
         <th>Имя</th>
         <th>Результат</th>
         </tr>
         </thead>
         <tbody>
         <tr class="danger">
         <td>Первое</td>
         <td>Николайчук</td>
         <td>ivan@example.com</td>
         </tr>
         <tr>
         <td>Второе</td>
         <td>Иванова</td>
         <td>mary@example.com</td>
         </tr>
         <tr>
         <td>Третье</td>
         <td>Петренко</td>
         <td>julia@example.com</td>
         </tr>
         </tbody>
    </table>
</div>
<footer class="info">
    <h5>&copy все права защищены<small>2018</small></h5>
</footer>
{% endblock %}