{% extends "wrapper.html" %}

{% block content %}
    <div class="container-fluid static_txt">
        <div class="row">
            <div
                 class="col-md-2 ">
             Выбирите правильный ответ
            </div>
            <div
                class="col-md-8">
             Вы идете на вечеринку в честь дня рождения лучшего друга, шикарно одеты, уверенны в себе,прекрасное настроение,
                в руках отличный подарок, о котором мечтал именинник,но выходя из метро по пути подарок изымают полицейские,
                по необъяснимым причинам
          </div>
          <div
                class="col-md-2">
             <strong>Имя:</strong> {{ name }}
          </div>
        </div>
    </div>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10 offset-2">
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="options1">
                        попробовать договориться с полицией
                      </label>
                </div>
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="options2">
                        бежать в билжайший ларек
                      </label>
                </div>
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="options3">
                          <u>www.rozetka.ua</u> - лучший сайт в мире(не реклама)
                      </label>
                </div>
                <button class="btn btn-warning offset-3" type="submit">результат &#128190</button>
            </div>
        </div>
    </form>
</div>
<footer class="info">
    <h5>&copy все права защищены<small>2018</small></h5>
</footer>
{% endblock %}