{% extends "wrapper.html" %}

{% block content %}
    <div class="container-fluid static_txt">
        <div class="row">
            <div
                 class="col-md-2 ">
             Представте ситуацию, и выбирите правильный ответ
            </div>
            <div
                class="col-md-8">
             {{ info }}
          </div>
          <div
                class="col-md-2">
             <strong>Имя:</strong> {{ name }}
          </div>
        </div>
    </div>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10 offset-2">
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="options1">
                        {{ op1 }}
                      </label>
                </div>
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="options2">
                        {{ op2 }}
                      </label>
                </div>
                <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="options3">
                          {{ op3 }}
                      </label>
                </div>
                <button class="btn btn-warning offset-3" type="submit">результат &#128190</button>
            </div>
        </div>
    </form>
</div>
<footer class="info">
    <h5>&copy все права защищены<small>2018</small></h5>
</footer>
{% endblock %}